:root {
  --font-family-lato: "Lato", sans-serif;
  --font-family-montserrat: "Montserrat", sans-serif;
  --gray-text: gray;
  --gray-border: #d7d9db;
  --light-gray-bg: #f4f5f7;
  --color-teal: rgb(48, 182, 142);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-montserrat);
}

header {
  height: 10rem;
  margin: 0 auto;
  background-size: 400px;
  position: relative;
}

.header__heading {
  color: black;
  font-size: 30px;
  margin-bottom: 1rem;
}

.count {
  font-size: 18px;
  font-weight: 500;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  align-items: flex-end;
  font-family: var(--font-family-main);
}

#list-stats {
  list-style-type: none;
  background-color: white;
  margin-bottom: 0;
  padding-left: 0;
}

.navigation a {
  list-style-type: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.navigation a:hover,
.navigation .active {
  text-decoration: underline;
  color: rgb(255, 145, 0);
}

.link-wrapper {
  display: flex;
  width: 100%;
  background-color: black;
  justify-content: space-around;
  height: 2rem;
  align-items: center;
}

.link-wrapper a {
  text-decoration: none;
  color: white;
}
/* Details---------------------------------------------------- */
.details {
  padding-top: 6rem;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2rem;
  background-color: var(--light-gray-bg);
  width: 100%;
}

h2 {
  font-size: 21px;
}

.details__header {
  margin-top: 1rem;
}

.details-card {
  background-color: white;
  border-radius: 8px;
  border: 1px solid var(--gray-border);
  position: relative;
  bottom: 100px;
  padding-bottom: 2rem;
  margin-bottom: 20px;
}

.details-card p {
  color: var(--gray-text);
  font-weight: 500;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.details-hr {
  border: 1px solid var(--gray-border);
  width: 50px;
  margin: 0 auto;
}

.details-text {
  padding-bottom: 15px;
}

.btn-container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.rsvp-btn,
.list-btn {
  padding: 10px;
  margin-top: 1rem;
  background-color: var(--color-teal);
  color: white;
  border: none;
  width: 150px;
  height: 50px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
}

.list-btn {
  width: 200px;
}

.btn1.hover {
  transform: scale(1.2);
}
.details-nums {
  font-size: 40px;
  font-weight: 600;
  margin-top: 1.5rem;
}

.beer-icon {
  font-size: 60px;
  background: black;
  opacity: 0.8;
  color: white;
  padding: 15px;
  border-radius: 50%;
  position: relative;
  bottom: 30px;
}

.hr {
  border: 1px solid rgb(236, 234, 234);
  width: 80%;
  margin: auto;
}

.text-container {
  margin: 0 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-card {
  width: 100%;
}

.progress {
  margin: 1.5rem;
}

.progress-custom {
  background-color: black;
}

/* RSVP---------------------------------------------------- */
.Rsvp {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family-main);
  padding-bottom: 100px;
}

.rsvp-section {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

form {
  width: 50%;
}
label[for] {
  margin-bottom: 10px;
}

input[type="text"],
input[type="tel"] {
  width: 100%;
  height: 30px;
  padding-left: 5px;
  border-radius: 6px;
  border: 1px solid rgb(236, 234, 234);
}

input:focus {
  outline: none;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

.rsvp-additions {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 20px;
}

.btn {
  margin: 0 auto;
  background-color: black;
  color: white;
  width: 50%;
  border: none;
  border-radius: 8px;
  height: 35px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: orange;
  color: black;
  font-weight: 500;
}

/* List/Who's Going ---------------------------------------------------- */
.list {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 6rem;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.list__header {
  margin-bottom: 20px;
}

.list__ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
}

.attending {
  margin-top: 2rem;
  width: 100%;
}

.person {
  color: rgb(247, 114, 6);
  border: 1px solid rgb(236, 234, 234);
  border-radius: 6px;
}

.person__text {
  margin: 1rem;
}

/* Footer ---------------------------------------------------- */
.footer {
  bottom: 0;
  background-color: #000;
  color: white;
  font-weight: 500;
  position: fixed;
  left: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer p {
  margin: 20px;
}

/* -------------------- Media Queries -------------------- */
@media screen and (min-width: 375px) {
  .btn-container {
    flex-direction: column;
    align-items: center;
  }

  .container {
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media screen and (min-width: 576px) {
  .text-container :nth-child(2) {
    order: 1;
  }
  .details-card {
    max-width: 800px;
  }

  #list-stats {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
