:root {
  --font-family-lato: "Lato", sans-serif;
  --font-family-montserrat: "Montserrat", sans-serif;
  --gray-text: gray;
  --gray-border: #d7d9db;
  --light-gray-bg: #f4f5f7;
  --color-teal: #4eb6ab;
}

.header__heading {
  color: black;
  font-size: 30px;
  margin-bottom: 1rem;
}

.count {
  font-size: 18px;
  font-weight: 500;
}

#list-stats {
  list-style-type: none;
  background-color: white;
  margin-bottom: 2rem;
  padding-left: 0;
}

.navigation a {
  list-style-type: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.navigation a:hover,
.navigation .active {
  text-decoration: underline;
  color: rgb(255, 145, 0);
}

.link-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style-type: none;
}

.link-wrapper a {
  text-decoration: none;
  color: white;
  font-family: var(--font-family-montserrat);
  font-size: 18px;
  font-weight: 600;
}

.link-wrapper li {
  margin-top: 1rem;
}

/* Details---------------------------------------------------- */
.details {
  padding-top: 6rem;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2rem;
  background-color: var(--light-gray-bg);
  width: 100%;
}

h2 {
  font-size: 21px;
}

.details__header {
  margin-top: 1rem;
}

.details-card {
  background-color: white;
  border-radius: 8px;
  border: 1px solid var(--gray-border);
  position: relative;
  bottom: 100px;
  padding-bottom: 2rem;
  margin-bottom: 20px;
}

.details-card p {
  color: var(--gray-text);
  font-weight: 500;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.details-hr {
  border: 1px solid var(--gray-border);
  width: 50px;
  margin: 0 auto;
}

.details-text {
  padding-bottom: 15px;
  color: var(--gray-text);
  font-weight: 500;
  max-width: 80px;
  text-align: center;
}

.vl {
  display: none;
}

.btn-container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.rsvp-btn,
.list-btn {
  padding: 10px;
  margin-top: 1rem;
  background-color: var(--color-teal);
  color: white;
  border: none;
  width: 150px;
  height: 50px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
}

.list-btn {
  width: 200px;
}

.btn1.hover {
  transform: scale(1.2);
}
.details-nums {
  font-size: 40px;
  font-weight: 600;
  margin-top: 1.5rem;
}

.beer-icon {
  font-size: 60px;
  background: black;
  opacity: 0.8;
  color: white;
  padding: 15px;
  border-radius: 50%;
  position: relative;
  bottom: 30px;
}

.hr {
  border: 1px solid rgb(236, 234, 234);
  width: 80%;
  margin: auto;
}

.text-container {
  margin: 0 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-card {
  width: 100%;
}

/* RSVP---------------------------------------------------- */
.signUp {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family-main);
  padding-bottom: 100px;
}

.signUp h1 {
  text-align: center;
  padding-top: 2rem;
}

.signup-section {
  display: flex;
  margin: 1rem;
}

.list h2 {
  margin: 0 auto;
}

.rsvp {
  display: flex;
  flex-direction: column;
}

label[for] {
  margin-bottom: 10px;
  padding-right: 10px;
}

input[type="text"] {
  width: 100%;
  height: 30px;
  padding-left: 5px;
  border-radius: 6px;
  border: 1px solid rgb(236, 234, 234);
}

input:focus {
  outline: none;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

.btn {
  margin: 0 auto;
  background-color: var(--color-teal);
  color: white;
  width: 50%;
  border: none;
  border-radius: 8px;
  height: 35px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: black;
  color: white;
  font-weight: 500;
}

/* List/Who's Going ---------------------------------------------------- */
.list {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 6rem;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.attending {
  margin-top: 1rem;
  width: 100%;
}

.attending form {
  width: 100%;
  margin: 0 auto;
}

/* Footer ---------------------------------------------------- */
.footer {
  bottom: 0;
  background-color: #000;
  color: white;
  font-weight: 500;
  position: fixed;
  left: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer p {
  margin: 20px;
}

/* -------------------- Media Queries -------------------- */
@media screen and (min-width: 375px) {
  .btn-container {
    flex-direction: column;
    align-items: center;
  }

  .container {
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media screen and (min-width: 576px) {
  .text-container :nth-child(2) {
    order: 1;
  }
  .details-card {
    max-width: 800px;
  }
  .details-hr {
    display: none;
  }

  .vl {
    border-left: 2px solid var(--gray-border);
    height: 70px;
    display: block;
  }

  #list-stats {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
